.square {
  
  display: inline-block;
  width: 6vw;
  height: 6vw;
  z-index: 2;
}
.square-black {
  display: inline-block;
  width: 5vw;
  height: 5vw;
  background-image: url("../../images/background.jpg");
  z-index: 2;
}
.square-white {
  display: inline-block;
  width: 5vw;
  height: 5vw;
  background-image: url("../../images/Wood-werzalit-square.jpg");
}
.chessboard-row {
  height: 5vw;
}
.piece-img {
  cursor:pointer;
  width: 5vw;
  height: 5vw;
  z-index: 1;
  opacity: 1;
}
.board {
  border: solid;
  padding-top: 3vw;
  margin-bottom: 3vw;
  display: inline-block;
  width: 46vw;
  height: 46vw;
  background-image: url("../../images/board.jpg");
}
.chessboard {
  background-color: #ece7e3;
  padding-top: 0px;
  margin-top: 0px;
}
h3 {
  margin-top: 0px;
}
