.App {
  text-align: center;
  font-family: "Lato", sans-serif;
  align-items: center;
}

.gamelist-container {
  display: inline-block;
  width: 50%;
}

.userlist-container {
  display: inline-block;
  width: 50%;
}
