.App {
  height: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  align-items: center;
  background-color: #ece7e3;

  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.gamelist-container {
  display: inline-block;
  width: 50%;
}

.userlist-container {
  display: inline-block;
  width: 50%;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-fullWidth {
  background-image: url("./images/Wood-werzalit-square.jpg");
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 {
  align-items: center;
  display: contents;
  margin: 0px;
  padding: 0px;
}

html {
  height: 95%;
  background-color: #ece7e3;
  /* display: flex;
  flex-direction: column;
  flex-grow: 1; */
}
.MuiCardContent-root:last-child.makeStyles-cardContent-15 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}
.MuiCardContent-root:last-child.makeStyles-cardContent-202 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.MuiCardContent-root.makeStyles-cardContent-81 {
  padding: 0px;
}
.MuiTypography-root {
  padding: 0px;
  margin: 0px;
}
.MuiGrid-root {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 24px;
  margin-bottom: 0px;
}
.MuiCardContent-root {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.MuiContainer-root {
  margin-bottom: 3%;
}
.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom {
  margin-bottom: 0px;
}
.MuiTypography-gutterBottom {
  margin-bottom: 0px;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-4 {
  padding-bottom: 0px;
}
body,
#root,
main {
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ece7e3;
}
